.COMMENT { background: #CFD; }
.HEAD    { background: #AEB; }
.HEAD2   { background: #AEB; }
.ENABLE  { background: #CFD; }
.CANCEL  { background: #CFD; }
.REPORT  { background: #CFD; }
.REPLY   { background: #CFD; }
.ERROR_REPLY { background: #FCD; }
