/*
#-----------------------------------------------------------------------------
#                                                                 __FLI4LVER__
# /usr/local/htdocs/faxrcv.css - stylesheet for faxrcv-webgui
#
# Creation:     01.04.2004  felix
# Last Update:  $Id$
#-----------------------------------------------------------------------------
*/

.faxrcvon {
    background: #EFE;
    color: #009900;
}

.faxrcvoff {
    background: #FEE;
    color: #990000;
}
