# Uses: httpd
#
# dhcp client
#
OPT_DHCP_CLIENT='yes'
DHCP_CLIENT_TYPE='dhcpcd'
DHCP_CLIENT_DO_DEBUG='yes'
DHCP_CLIENT_N='1'
DHCP_CLIENT_1_IF='IP_NET_2_DEV'
DHCP_CLIENT_1_ROUTE='default'
DHCP_CLIENT_1_USEPEERDNS='yes'
DHCP_CLIENT_DEBUG='yes'

OPT_HTTPD='yes'

PORTFW_DO_DEBUG='yes'
PF_PREROUTING_N='1'
PF_PREROUTING_1='prot:tcp dynamic:22 DNAT:1.2.3.4'
