/* Aenderungen fuer opt_ntp                      */

.ntp_msg p {
        text-align: left;
        border: 1px solid #0A3498;
        margin: 4px;
        padding: 8px;
}

.info {
        background: #EFE;
}

.error {
        background: #FEE;
}
