/*
#------------------------------------------------------------------------------
#                                                                  4.0.0-r57498-testing
# /srv/www/css/status_wireguard.css - stylesheet for WireGuard WebGui
# Creation:     10.01.2020 Christoph Fritsch <fli4l@dechristo.net>
# Last Update:  12.09.2020 Christoph Fritsch
#------------------------------------------------------------------------------
*/


.reddot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.greendot {
  height: 25px;
  width: 25px;
  background-color: #17ff00;
  border-radius: 50%;
  display: inline-block;
}


.w3-container,.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
/*
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
.w3-container{padding:0.01em 16px}
*/
.w3-light-grey{color:#000!important;background-color:#f1f1f1!important;text-align:center}
.w3-green{color:#fff!important;background-color:#4CAF50!important}
.w3-red{color:#fff!important;background-color:#f44336!important}