# Uses: samba_lpd
SAMBA_DO_DEBUG='yes'
OPT_SAMBA='yes'
# SAMBA_LOG='255'
SAMBA_LOGDIR='/var/log'
SAMBA_SHARE_N='1'
SAMBA_SHARE_1_NAME='foo'
SAMBA_SHARE_1_RW='yes'
SAMBA_SHARE_1_BROWSE='yes'
SAMBA_SHARE_1_PATH='/'
# SAMBA_SHARE_1_=''
OPT_SAMBATOOLS='yes'
