# Uses: pppoe_server
# Interfaces:  -nl -nu
# Comment: use '-nc' option to connect to pppoe server instance

PF_FORWARD_N='1'
PF_FORWARD_1='ACCEPT'
PF_POSTROUTING_N='0'
PF_POSTROUTING_1='if:any:eth1 MASQUERADE'

#
# ppoe server
#
OPT_PPPOE_SERVER='yes'
PPPOE_SERVER_ETH='eth0'
PPPOE_SERVER_TYPE='async'
PPPOE_SERVER_DEBUG='yes'
PPPOE_SERVER_LOCAL_IP='10.0.0.1'
PPPOE_SERVER_REMOTE_IP='10.54.0.0'
PPPOE_SERVER_DNS1='10.0.0.1'
PPPOE_SRV_USER_N='2'
PPPOE_SRV_USER_1_NAME='foo'
PPPOE_SRV_USER_1_PASS='bar'
PPPOE_SRV_USER_2_NAME='bar'
PPPOE_SRV_USER_2_PASS='bar'
