/*-----------------------------------------------------------------------------*/
/* /srv/www/css/ow.css - Cascading Style Sheet                   _ _FLI4LVER__ */
/*                                                                             */
/* Creation:     05.02.2009 kmw  <news4kmw@web.de>                             */
/* Modification: 22.01.2012 Roland Franke                                      */
/* Last Update:  $Id$                                                          */
/*-----------------------------------------------------------------------------*/

.ow_error
  {
  color: red;
  font-weight: bold;
  }

.ow_linecoloring
  {
  background-color: #FFC;
  }

.ow_inverted_signal
  {
  text-decoration: overline;
  }

#ow_column_group
  {
  width: 200px;
  }

#ow_column_data
  {
  }

form
  {
  margin-bottom: 0;
  }

input
  {
  margin-left: 0;
  }

img
  {
  vertical-align: middle;
  }

.ow_unboxed
  {
  background: none;
  font-size: 1em;
  border: 0;
  color: black;
  vertical-align: middle;
  }

#refresh iframe
  {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  }

.ow_bullet
  {
  margin-right: 1px;
  }
